* {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
  font-family: Raleway, sans-serif;
  background: #ffd3e1;
  line-height: 1.8em;
}

a {
  color: inherit;
  text-decoration: dotted underline;
}

p {
  margin-bottom: 20px;
}

img {
  height: 200px;
  width: auto;
  margin: 10px;
  border: solid 1px #d31550;
  opacity: 0.8;
}

img:hover {
  opacity: 1.0;
  cursor: pointer;
  box-shadow: 2px 2px 2px #c63562;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 900;
  padding: 50px 20px 60px 20px;
  background: #ff7aa3;
  color: white;
  border-bottom: dotted 1px white;
  text-shadow: 2px 2px 2px #f4447c;
}

section {
  display: inline-block;
  padding: 30px;
  margin: -30px auto 0 auto;
  background: #f4447c;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: -2px 2px 2px #ffbfd3;
}

canvas {
  padding: 20px;
}

#allImages {
  display: block;
}

#showResults {
  display: none;
}
