* {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
  font-family: Raleway, sans-serif;
  background: #ffd3e1;
  line-height: 1.8em;
}

a {
  color: inherit;
  text-decoration: dotted underline;
}

p {
  margin-bottom: 20px;
}

img {
  height: auto;
  width: 200px;
  opacity: 0.8;
}

img:hover {
  opacity: 1.0;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 900;
  padding: 50px 20px 60px 20px;
  background: #ff7aa3;
  color: white;
  border-bottom: dotted 1px white;
  text-shadow: 2px 2px 2px #f4447c;
}

section {
  display: inline-block;
  padding: 40px;
  margin: -30px auto 0 auto;
  background: #f4447c;
  color: #fff;
  border: 5px solid #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: -2px 2px 2px #ffbfd3;
}

canvas {
  padding: 20px;
}

table {
  margin: 20px;
  border-collapse: collapse;
  line-height: 1.0em;
  background: #ed547b;
}

th {
  padding: 15px;
  border: solid 1px;
  font-weight: 900;
  width: 150px;
  background: #e8305f;
}

td {
  padding: 15px;
  border: solid 1px;
  font-weight: 100;
  width: 150px;
}

.imgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 10px;
  background: white;
  border: solid 5px #ffedf0;
  box-shadow: 2px 2px 5px #a5264e;
  float: left;
  border-radius: 5px;
}

.imgBox:hover {
  cursor: pointer;
}

#allImages {
  display: block;
}

#showResults {
  display: none;
}

#votesTable {
  display: none;
}

#skipButton {
  font-size: 1.5em;
  padding: 20px 50px;
  margin-top: 30px;
  border: solid 5px #ffedf0;
  border-radius: 5px;
  background: white;
  box-shadow: 2px 2px 2px #a5264e;
}

#skipButton:hover {
  cursor: pointer;
}
